.git
.github
node_modules
vendor
storage/app/*
!storage/app/public
storage/app/public/*
storage/framework/*
!storage/framework/.gitignore
storage/logs/*
!storage/logs/.gitignore
.env
.env.*
!.env.example
docker-compose*.yml
docker-compose*.yaml
backups
tests
.phpunit.cache
.vscode
.idea
*.md
